#home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.finished{
    font-size: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#finalanimals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contanimalflashcards{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}