#sound-select-btn{
    align-content: center;
    background-color: white;
    border-radius: .5rem;
    margin: auto;
    padding: 6px;
    margin-top: 10px;;
    display: block;
}
audio::-webkit-media-controls-panel {
    background-color: #FFFD98;
  }
#select-sound{
    text-align: center;
    font-size: x-large;
}
.sound-btn{
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 3rem;

  }