.front-card{
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    justify-content: center;
    background-color: blanchedalmond;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1rem;
    margin: 2em;
    padding: 1em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    min-height: 300px;
    color: black;
    font-size: x-large
}
.front-card img {
    margin: auto;
    display: block;
}
#animal-details{
    display: block;
    margin-top: 6em;
    font-weight: bold;
    line-height: 2rem;
}

