#cardcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.animal-card{
    display: inline-block;
    flex-direction: row;
    grid-gap: 20px;
    justify-content: center;
    background-color: blanchedalmond;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1rem;
    margin: 2em;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    height: 500px;
    width: 300px;
    color: black;
    font-size: x-large
}
.animal-card img {
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
}
#animal-details{
    display: block;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
.animal-name{
    font-size: 35px;
    text-align: center;
}
