#dashboard{
    margin: 10%;
    color: white;
}
#mydashboard{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
#myfavoriteanimals{
    margin-bottom: 20%;
    height: 500px;
}
h1{
    text-align: left;
    font-size: large;
}
#contact-info{
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 20px;
}
.form{
    padding: 12px;
    margin-right: 2%;
    font-size: x-large;
}
label{
    font-weight: bold;
    font-size: x-large;
}
.my-dashboardcard{
    margin: 10%;
    margin-bottom: 20%;
    color: black;
    max-width: auto;
    max-height: auto;
    border-radius: .5rem;
    border: 3px solid rgb(0, 0, 0);
    background-color: #F1E3B7;
    padding: 1%;
    padding-bottom: 5%;
}
.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to left top, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    font-size: 40px;
    font-weight: bold;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}
