#root{
  max-width: 1880px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}
#navlinks{
  padding: 1rem;
  font-size: x-large;
}
#homelink, #gamelink, #animal-flashlink, #login{
  margin: 10%;
  color: white;
}
#main{
  margin-top: 140px;
}