img {
    margin: 1px 10px 10px;
    margin-bottom: 1px;
}
.footer-container {
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../public/img/grassfooter.png");
    background-size: 100% 120%;
    height: 180px;
    position: fixed;
    bottom: -100%; 
    animation: slideIn 1s ease forwards; 
    z-index: 1; 
}
@keyframes slideIn {
    to {
        bottom: 0; 
    }
}
.chstudios{
    font-size: 20px;
    padding-right: 1000px;
    color: rgba(255,255,255,0.9);
    top: 60px;
    position: relative;
    text-shadow: -1px 1px 0 #000;
}
.linkedin-icon, .github-icon, .glitch-icon,.youtube-icon {
    font-size: 30px;
    padding-left: 40px;
    color: rgba(255,255,255,0.9);
    top: 60px;
    position: relative;
}
.linkedin-icon:hover, .github-icon:hover, .glitch-icon:hover, .youtube-icon:hover{
    color: rgba(0,0,0,0.4);
}
  